<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    <script src="https://cdn.jsdelivr.net/npm/grained"></script>

    {{ content_for_header }}
  </head>

  <body id="hidden-theme">
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% # Grunge Overlay Effect %}
    {% if settings['grunge-effect'] %}
      <script>
        var options = {
          animate: true,
          patternWidth: 100,
          patternHeight: 100,
          grainOpacity: 0.1,
          grainDensity: 1,
          grainWidth: 1,
          grainHeight: 1,
        };
        grained('#hidden-theme', options);

        /*
        background-color :rgb(204, 204, 204)
        */
      </script>

      <style>
        #hidden-theme::before {
          z-index: 999999;
          pointer-events: none;
        }
      </style>
    {% endif %}

    <style>
      .shopify-section-group-header-group {
      position: absolute;
      z-index: 9;
      width: 100%;
      }

      :root {
        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
      }
    </style>

    {% sections 'footer-group' %}
  </body>
</html>
