{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}


{{ 'fract-cart.css' | asset_url | stylesheet_tag: preload: true }}

<div class="main-cart-title">
<h1 class="cart-title">{{ 'cart.title' | t }}</h1>
</div>

<form class="fract-cart" action="{{ routes.cart_url }}" method="post">
  <table class="main-cart-items">
    {% for item in cart.items %}
      <tr class="cart-item">
        <td class="cart-image-and-title">
          {% render 'image', image: item.image, url: item.url %}
      <div class="title-and-remove">
          <h3 class="cart-product-title">{{ item.product.title }}</h3>
          {{ 'cart.remove' | t | link_to: item.url_to_remove }}
      </div>
        </td>
      <td>
      <span class="cart-item-price">
        {{ item.original_line_price | money }}
        {% if item.variant.compare_at_price > item.variant.price %}
          <span class="compare-at-price" style="text-decoration: line-through; color: #888;">
            {{ item.variant.compare_at_price | money }}
          </span>
        {% endif %}
      </span>
      </td>
        <td>
          <input type="text" name="updates[]" value="{{ item.quantity }}">
          <input type="submit" value="{{ 'cart.update' | t }}">
        </td>
      </tr>
    {% endfor %}
  </table>

  <button class="fract-primary button-skew" type="submit" name="checkout" value="{{ 'cart.checkout' | t }}">{{ 'cart.checkout' | t }}</button>
</form>

{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}
