<header class="main-header">
  <div class="header-inner page-width">
  <h2 class="header__title">
    {% if settings.logo and template == 'index' %}
      <a href="{{ routes.root_url }}" class="header__logo-link">
        <img 
          src="{{ settings.logo | img_url: '300x' }}" 
          alt="{{ shop.name }}" 
          class="header__logo {% if settings.spin-logo %} spin {% endif %}" 
          style="width: {{ settings.logo_width }}px;" 
        />
      </a>
    {% elsif settings.logo and template == 'collection' %}
      <a href="{{ routes.root_url }}" class="header__logo-link">
        <img 
          src="{{ settings.logo | img_url: '300x' }}" 
          alt="{{ shop.name }}" 
          class="header__logo {% if settings.spin-logo %} spin {% endif %}" 
          style="width: {{ settings.logo_width }}px;" 
        />
      </a>
    {% elsif settings.logo-solid %}
      <a href="{{ routes.root_url }}" class="header__logo-link">
        <img 
          src="{{ settings.logo-solid | img_url: '300x' }}" 
          alt="{{ shop.name }}" 
          class="header__logo {% if settings.spin-logo %} spin {% endif %}" 
          style="width: {{ settings.logo_width }}px;" 
        />
      </a>
    {% else %}
      {{ shop.name | link_to: routes.root_url }}
    {% endif %}
  </h2>

  <div class="header__menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="header__icons">
    {% if shop.customer_accounts_enabled %}
      {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
    {% endif %}

    <a href="{{ routes.cart_url }}">
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
  </div>
</header>

<style>
  header {
    height: 5rem;
    background:white;
  }

  .header-inner {
        display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
  }
  {% if template == 'index' or template == 'collection' %}
  header a {
    position: relative;
    transition: transform 0.4s ease-in-out;
    text-decoration: none;
    font-size:13px;
    color: {{ section.settings.color-text }};
  }
{% else %}
    header a {
    position: relative;
    transition: transform 0.4s ease-in-out;
    font-size:13px;
    text-decoration: none;
    color: {{ section.settings.color-text-solid }};
  }
{% endif %}

  header a:hover {
  transform: skew(10deg, 10deg);
  transition: transform 0.4s ease-in-out;
}

  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 1.5rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
  @keyframes side-spin {
  from {
    transform: perspective(600px) rotateY(0deg);
  }
  to {
    transform: perspective(600px) rotateY(360deg);
  }
}

.header__logo.spin {
  animation: side-spin 5s linear infinite;
  transform-style: preserve-3d;
}
</style>
{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "color",
      "id": "color-text",
      "label": "Link text color",
      "default": "#000000"
    },
       {
      "type": "color",
      "id": "color-text-solid",
      "label": "Link text color (Solid BG)",
      "default": "#000000"
    }
  ]
}
{% endschema %}

