{{ 'scrolling-promo.css' | asset_url | stylesheet_tag }}
<style>
  #fract-scrolling-promotion-section--{{ section.id }} {
    --item-gap: {{ section.settings.item_gap }}px;
    --item-gap-mobile: {{ section.settings.item_gap_mobile }}px;
    --duration: {{ section.settings.speed }}s;
    position: absolute;
    top: 20px;
    width:100%;
    z-index:9;
  }
    .fract-scrolling-promotion-section {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
</style>
<section
  id="fract-scrolling-promotion-section--{{ section.id }}"
  class="bar-promo page-width"
  style="color:{{ section.settings.text-color }}; !important; font-variant:small-caps"
  data-section-type="fract-scrolling-promotion"
  data-section-id="{{ section.id }}"
>
  <div style="background:{{ section.settings.bg-color }};     border-radius: 9px;" class="fract-scrolling-promotion-section">
    <fract-scrolling-promotion
      class="fract-scrolling-promotion fract-scrolling-promotion--{{ section.settings.direction }}"
    >
      <div class="m-promotion">
        {% for block in section.blocks %}
          <div class="m-promotion__item">
            {% if block.settings.text_link != blank -%}
              <a target="_blank" href="{{ block.settings.text_link }}" class="m-promotion__item--link">
            {%- endif %}
            {% if block.settings.custom_svg != blank %}
              <span class="m-promotion__icon m-promotion__icon--{{ block.settings.icon_size }}">
                {{- block.settings.custom_svg -}}
              </span>
            {% endif %}
            {% if block.settings.text != blank %}
              <div class="m-promotion__text" style="--text-size: {{ block.settings.text_size }}px;">
                {{ block.settings.text }}
              </div>
            {% endif %}
            {% if block.settings.text_link != blank %}</a>{% endif %}
          </div>
        {% endfor %}
      </div>
    </fract-scrolling-promotion>
  </div>
</section>

<script>
  if (!customElements.get('fract-scrolling-promotion')) {
    class e extends HTMLElement {
      constructor() {
        super();
      }
      connectedCallback() {
        (this.promotion = this.querySelector('.m-promotion')), this.init();
      }
      init() {
        if (1 === this.childElementCount) {
          this.promotion.classList.add('m-promotion--animated');
          for (let e = 0; e < 10; e++)
            (this.clone = this.promotion.cloneNode(!0)),
              this.clone.setAttribute('aria-hidden', !0),
              this.appendChild(this.clone);
          new IntersectionObserver(
            (e, t) => {
              e.forEach((e) => {
                e.isIntersecting ? this.scrollingPlay() : this.scrollingPause();
              });
            },
            {
              rootMargin: '0px 0px 50px 0px',
            }
          ).observe(this);
        }
      }
      scrollingPlay() {
        this.classList.remove('fract-scrolling-promotion--paused');
      }
      scrollingPause() {
        this.classList.add('fract-scrolling-promotion--paused');
      }
    }
    customElements.define('fract-scrolling-promotion', e);
  }
</script>

{% schema %}
{
  "name": "Scrolling Promo",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "w-full",
      "options": [
        {
          "value": "container-fluid",
          "label": "Default"
        },
        {
          "value": "w-full",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Use container box"
        }
      ]
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "speed",
      "label": "Speed",
      "min": 2,
      "max": 60,
      "unit": "s",
      "step": 1,
      "default": 30
    },
    {
      "type": "range",
      "id": "item_gap",
      "label": "Item gap",
      "default": 50,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "item_gap_mobile",
      "label": "Item gap mobile",
      "default": 30,
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg-color",
      "label": "BG color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text-color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom Attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "textarea",
          "id": "custom_svg",
          "label": "Custom SVG icon"
        },
        {
          "type": "select",
          "id": "icon_size",
          "label": "Icon size",
          "default": "medium",
          "options": [
            {
              "label": "Small",
              "value": "small"
            },
            {
              "label": "Medium",
              "value": "medium"
            },
            {
              "label": "Large",
              "value": "large"
            }
          ]
        },
        {
          "type": "textarea",
          "label": "Text",
          "id": "text",
          "default": "Welcome to our store"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text size",
          "min": 12,
          "max": 150,
          "unit": "px",
          "default": 16,
          "step": 2
        },
        {
          "type": "url",
          "id": "text_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Scrolling Prom0",
      "category": "Promo",
      "blocks": [
        {
          "type": "announcement"
        },
        {
          "type": "announcement"
        },
        {
          "type": "announcement"
        },
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
